/* Здесь будут храниться стили нашего сайта */

body {
margin: 0; 
font-family: 'Roboto';
font-size: 18px;
 }

img {
max-width: 100%;
}

header {
	padding-top: 59px;
	padding-bottom: 22px;
	background-color:#CC3300;
	color:#fff;

}

.header-pretitle{
	margin-top: 102px;
}

.header-title {
	font-size: 48px;
	font-weight: 700;
	line-height: 46.81px;
	margin-top: 21px;
}
.header-subtitle {
	margin-top: 20px;
}

.header-button {
	display: inline-block;
	text-decoration: none;
	border-radius: 50px;
	color: #ffffff;
	background-color: #072b6f;
	font-weight: 700;
	padding: 17px 55px;
	margin-top: 33px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	box-shadow: 8px 8px 20px 1px rgba(0,0,0);
	border: 1px solid #ffffff;
}


.header-button:hover {
	box-shadow: none;
	text-decoration: none;
	}

header small {
	font-size: 12px;
	display: block;
	text-align: center;
	margin-top: 10px;
}

.header-button-block {
	max-width: 210px;

}

/*секция портфолио*/
.portfolio {
	background-color: #dddddd;
	margin: 0px;
	padding-top: 44px;
	padding-bottom: 71px;
}

.portfolio-block {
	background-color: #fff;
	padding-top: 29px;
	padding-bottom: 44px;

}

.portfolio-title {
	text-transform: uppercase;
	font-size: 18px;
	color: #072b6f;
	margin-bottom: 10px;
}

.portfolio-title, .portfolio-subtitle {
	text-align: center;
}

.portfolio-subtitle {
	margin-top: 10px;
	font-size: 14px;
	color: #072b6f;
	margin-bottom: 30px;
}

.portfolio-col-1 {
	padding-left: 70px;
	}

.portfolio-col-2 {
	padding-right: 40px;
}

.portfolio-block h3 {
	/*style for "внутренний"*/
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px;
	text-align: center;
}

.portfolio-text {
	color: #8f8f8f;
	font-size: 14px;
	font-weight: 400;
}

.portfolio-block a {
	color: #072b6f;
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}

/*Оформление подвала*/
footer {
	background-color: #3a7dfd;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 110px;
}
.footer-autor {
	font-size: 24px;
	margin-bottom: 7px;
}
.footer-text {
	margin-top: 0;
}

.social-block {
	text-align: center;
}

.social-block a {
	display: inline-block;
	margin-left: 13px;
	margin-right: 13px;
}

.footer-cta-block {
text-align: center;	
}

.footer-cta {
	margin-bottom: 13px;
}

.footer-button {
text-decoration: none;
display: inline-block;
border: 1px solid #ffffff;
font-weight: 700;
color: #072b6f;
background-color: #fff;
font-size: 18px;
border-radius: 50px;
padding: 12px 40px;
transition: 0.2s;

}

.footer-button:hover {
	text-decoration: none;
}

@media (max-width: 1200px) {
	.header-title {
		font-size: 40px;
	}
	.header-pretitle {
		margin-top: 60px;
	}

}

@media (max-width: 992px) {
	.header-img{
		display: none;
			}

		.header-pretitle {
		margin-top: 10px;
	}
.footer-author {
font-size: 18px;
}
.footer-text{
	font-size: 14px;
}

.social-block a {
	margin-left: 5px;
	margin-right: 5px;
}

.social-block img {
width: 30px;
}
.footer-button {
	font-size: 14px;
	padding: 8px 35px;
}
}

@media (max-width: 768px) {

.header-button, .footer-button {
	box-shadow: none;
}	


	.portfolio-col-1 {
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 40px;
	}
	.portfolio-col-2 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer-author, .footer-text {
text-align: center;

}
}