@font-face {
	font-family: 'Myriad Pro Light';
	src: url('fonts/Myriad-Pro-Light.ttf');
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 18px;
	overflow-x: hidden;
}

.body__branches {
	position: absolute;
	margin-left: 70px;
	margin-top: 820px;
	z-index: 5;
	
}
.arrow-scroll {
	position: fixed;
	bottom: 20px;
	margin-left: 80px;
	z-index: 6;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	cursor: pointer;
}


header {
	height: 900px;	
	overflow: hidden;
}

.leo {
	background: url("img/kenya-3002458_960_720.png") no-repeat center center;
	background-size: cover;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}

.hawk {
	background: url("img/bird-4071781_1920.png") no-repeat center center;
	background-size: cover;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}

.header {
	margin-top: 60px;
}

.header__mask {
	position: absolute;
	right: -360px;
	height: 900px;
	transition: all 0.8s ease-in-out;
	overflow: hidden;
}


@media (max-width: 1000px) {
	.header__branch {
		display: none;
	}
}


.nav {
	display: inline-block;
	position: relative;
	color: #ffffff;
}

.nav a {
	position: relative;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 0.8em;
	margin-top: 82px;
	text-transform: uppercase;
	margin-right: 8px;
	z-index: 2;
	cursor: pointer;

}



.header a:hover {
	text-decoration: none;
}


.nav:hover:before {
	color: #ffffff;
	content: "";
	width: 105%;
	height: 130%;
	background-color: rgba(27, 163, 15, 0.5);
	border-radius: 50px;
	position: absolute;
	margin-top: -5px;
	margin-left: -7px;
	z-index: 1;
}

.header__nav {
	display: block;
	margin-top: 20px;
	margin-left: -20px;
	white-space: nowrap;
}

.header__image {
	text-align: center;
}

@font-face {
	font-family: "Gotham Bold Pro";
	src: url("fonts/GothamProBold.ttf");
}

.header__image p {
	margin-left: 0px;
	text-transform: capitalize;
	font-family: "Gotham Bold Pro";
	color: #ffffff;
	font-size: 21px;
}

.header__logo {
	position: absolute;
	margin-top: 15px;
	margin-left: -20px;
	display: block;
}

.logo {
	margin-right: 10px;
}

.logo.href {
	cursor: pointer;
}

.header__branch {
	margin-left: -15px;
	margin-top: -60px;
}

.header__branches {
	position: absolute;
	margin-top: 150px;
	margin-left: -25px;

}

.header__subtitle {
	position: relative;
	margin-top: 175px;
	margin-left: 0px;
	transition: all 0.8s ease-in-out;
}

.header__subtitle p {
	color: #ffffff;
	font-size: 125px;
	font-weight: bold;
	line-height: 0.75em;
	letter-spacing: -0.06em;
	text-transform: uppercase;
	transition: all 0.8s ease-in-out;
}

.header__premier {
	position: absolute;
	color: #ffffff;
	font-size: 29px;
	font-weight: bold;
	margin-left: 200px;
	margin-top: 15px
}

.header__pantera {
	position: absolute;
	color: #ffffff;
	white-space: nowrap;
	font-size: 20px;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	margin-top: 200px;
	margin-left: 320px;
	transition: all 0.8s ease-in-out;
}

.teleprogram {
	position: relative;
	height: 947px;
	background: url("img/Прямоугольник 35.png") no-repeat center center;
	background-size: cover;
	margin-top: -47px;
	overflow: hidden;
}

.teleprogram__greenspot {
	position: absolute;
	margin-left: 110px;
	margin-top: -10px;
	z-index: 0;
}


.teleprogram h1 {
	color: #004903;
	font-size: 35px;
	font-weight: bold;
	margin-top: 52px;
	margin-bottom: 0px;
	text-align: center;
	letter-spacing: -0.04em;
}

.teleprogram__date {
	background: url("img/date.png") no-repeat center center;
	padding-top: 25px;
	padding-bottom: 30px;
	margin-top: 20px;
	white-space: nowrap;
}

.teleprogram__data {
	position: relative;
	display: inline-block;
	margin-right: 58px;
	cursor: pointer;
	
}

.slide__date-left {
	margin-top: 3px;
	margin-left: 25px;
	cursor: pointer;
}

.slide__date-right {
	margin-top: 3px;
	margin-left: 20px;
	cursor: pointer;
}

.teleprogram__data p {
	font-size: 25px;
	font-weight: bold;
	letter-spacing: -0.05em;
	color: #726b6b;
	text-align: center;

}

.teleprogram__greenborder {
	
	margin-top: -61px;
	margin-left: -28px;
	position: absolute;
	
}


.teleprogram__tvname {
	font-size: 22px;
	color: #726b6b;
	text-align: center;
	line-height: 1em;
	font-weight: 600;
	white-space: nowrap;
	margin-left: -30px;
}

@font-face {
	font-family: 'Myriad Pro Regular';
	src: url('fonts/MyriadPro-Regular.ttf');
}

.teleprogram__title {
	position: relative;
	font-family: 'Myriad Pro Regular';
	margin-bottom: 30px;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 15px;

}

.teleprogram__title:hover {
	z-index: 0;
	color: #fff;
}

#current-tv {
	color: #fff;
	z-index: 0;
}

#current-tv::before {
	content: "";
	color: #fff;
	width: 100%;
	height: 100%;
	background-color: rgba(194, 144, 104, 0.712);
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: -1;
	box-shadow: 3px 3px 10px rgba(44, 42, 42, 0.5);
}

.teleprogram__title:hover:before {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(194, 144, 104, 0.712);
	position: absolute;
	right: 0;
	top: 0;
	box-shadow: 3px 3px 10px rgba(44, 42, 42, 0.5);
	z-index: -1;
}

.teleprogram__title-all {
	position: relative;
	margin-bottom: 38px;
	font-weight: bold;
	cursor: pointer;
	z-index: 0;
	color: #fff;
	z-index: 0;
	padding-right: 5px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 15px;

}

.teleprogram__title-all:before {
	color: #ffffff;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 73, 3, 0.7);
	border-radius: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	box-shadow: 3px 3px 10px rgba(44, 42, 42, 0.5);
}

.teleprogram__video {
	margin-left: 20px;
	height: 860px;
	width: 500px;

}

.teleprogram__video iframe {
	padding: 0px;
	box-shadow: 2px 2px 12px rgba(44, 42, 42, 0.5);
	margin-left: -10px;
}

.tv {
	height: 480px;

}

.teleprogram__button {
	white-space: nowrap;
	padding: 1px;
	position: relative;

}

.teleprogram__button-image {
	position: relative;
	display: inline-block;
	padding-left: -20px;
	margin-left: 11px;
	margin-right: 20px;
	cursor: pointer;
}



.teleprogram__button-image img {
	position: relative;
	box-shadow: 5px 5px 7px rgba(44, 42, 42, 0.5);
}


.button__title {
	font-family: 'Myriad Pro Regular';
	font-size: 20px;
	color: #fff;
	position: absolute;
	right: 0%;
	top: 0%;
	line-height: 1.2em;
	z-index: 2;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 5px;

}

.button__title::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(20, 19, 19, 0.5);
	right: 0px;
	top: 0px;
	transition: all 0.2s;
	z-index: -1;
}

.button__time {
	font-family: 'Myriad Pro Regular';
	font-size: 20px;
	color: #fff;
	position: absolute;
	right: 0%;
	bottom: -9%;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 5px;
	z-index: 2;
}

.button__time::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(20, 19, 19, 0.5);
	right: 0px;
	bottom: 0px;
	transition: all 0.2s;
	z-index: -1;
}